/***
Login page
***/

/* logo page */
.login {																	/*鏇存敼璇存槑锛氬皢鑳屾櫙鏀逛负鑷畾涔夊浘鐗囷紙鑰佸か瀛� 2018.11.06锛�*/
  /*background-color: #444 !important;*/
}

.login .logo {													/* 鏇存敼璇存槑锛氭洿鏀瑰搴︼紱鏂板楂樺害锛涘垹鎺夊唴澶栬竟璺濓紱鍘绘帀鏂囨湰灞呬腑锛涙坊鍔犺儗鏅鑹诧紙鑰佸か瀛� 2018.11.06锛� */
  /*width: 247px;*/
  width: 100%;	
 	height: 100px;
  margin: 0 auto;   
  /*margin-top:60px;
  padding: 15px;
  text-align: center;*/
  background-color: #FFFFFF;
}  

.login .content {									/*鏇存敼璇存槑锛氭洿鏀瑰搴︼紱鏇存敼澶栬竟妗嗭紱鏂板杈规鍦嗚锛堣�佸か瀛� 2018.11.06锛�*/
  background-color:#fff; 
  /*width: 291px;*/
  /*margin: 0 auto; */
  width: 370px;
  margin: 200px auto; 
  margin-bottom: 0px;
  padding: 30px;  
  padding-top: 20px;  
  padding-bottom: 15px;
  border-radius: 10px;
}

.login .content h3 {								/*鏇存敼璇存槑锛氭坊鍔犳枃鏈眳涓紙鑰佸か瀛� 2018.11.06锛�*/
  color: #000;
  text-align: center;
}
.login .content h4  {
  color: #555;
}

.login .content p {
  color: #222;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}
.login .content .forget-form1 {
    padding: 0px;
    margin: 0px;
}
.login .content .m-wrap {									/*鏇存敼璇存槑锛氭洿鏀瑰搴︼紙鑰佸か瀛� 2018.11.06锛�*/
  /*width: 249px;*/
  width: 309px;
  border-left: 0 !important;
}

.login .content .input-icon {
  border-left: 2px solid #35aa47 !important;
}

.login .content .control-group {
  margin-bottom: 20px !important;
}

.login .content .input-icon .m-wrap {  
  margin: 0px !important;
}

.login .content .forget-form {
  display: none;
}
.login .content .forget-form1 {
  display: none;
}
.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.login .content .form-actions {
  background-color: #fff;
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  
.login .content .forget-form1 .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  
.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {											/*鏇存敼璇存槑锛氭柊澧炲瓧浣撳ぇ灏忋�佸搴︺�佹洿鏀归鑹诧紙鑰佸か瀛� 2018.11.06锛�*/
  margin-top: 1px;
  /*font-size: 18px;
  background-color: #1E90FF;
  width: 250px;*/
}

.login .content .forget-password {											/*鏇存敼璇存槑锛氭洿鏀瑰杈规涓婅竟璺濓紙鑰佸か瀛� 2018.11.06锛�*/
  /*margin-top: 25px;*/
 margin-top: 8px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

.login .copyright {
  text-align: center;
  width: 250px;
  margin: 0 auto; 
  padding: 10px 10px 0 10px;
  color: #999;
  font-size: 11px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top:10px;
  }

  .login .content {
    padding: 30px; 
    width: 222px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .content .m-wrap {
      width: 180px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}