<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqgd.pms.dao.updateOutTxt.ChannelTempMapper">
  <resultMap id="BaseResultMap" type="com.hqgd.pms.domain.ChannelTemp">
    <result column="CHANNEL_NUM" jdbcType="VARCHAR" property="channelNum" />
    <result column="TEM" jdbcType="VARCHAR" property="tem" />
    <result column="RECEIVE_TIME" jdbcType="VARCHAR" property="receiveTime" />
  </resultMap>
  <insert id="insert" parameterType="com.hqgd.pms.domain.ChannelTemp">
    insert into channel_temp (CHANNEL_NUM, TEM, RECEIVE_TIME
      )
    values (#{channelNum,jdbcType=VARCHAR}, #{tem,jdbcType=VARCHAR}, #{receiveTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hqgd.pms.domain.ChannelTemp">
    insert into channel_temp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelNum != null">
        CHANNEL_NUM,
      </if>
      <if test="tem != null">
        TEM,
      </if>
      <if test="receiveTime != null">
        RECEIVE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelNum != null">
        #{channelNum,jdbcType=VARCHAR},
      </if>
      <if test="tem != null">
        #{tem,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>