<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqgd.pms.dao.equipment.EquipmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.hqgd.pms.domain.EquipmentInfo">
    <id column="EQUIPMENT_ID" jdbcType="VARCHAR" property="equipmentId" />
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="EQUIPMENT_NAME" jdbcType="VARCHAR" property="equipmentName" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="CHANNEL_TEM" jdbcType="VARCHAR" property="channelTem" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="ADCODE" jdbcType="VARCHAR" property="adcode" />
    <result column="CADCODE" jdbcType="VARCHAR" property="cadcode" />
    <result column="PADCODE" jdbcType="VARCHAR" property="padcode" />
    <result column="LNG_LAT" jdbcType="VARCHAR" property="lngLat" />
    <result column="FRAME_STRU" jdbcType="VARCHAR" property="frameStru" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    EQUIPMENT_ID, ID, EQUIPMENT_NAME,TYPE, USER_NAME, USER_ID, CHANNEL_TEM, ADDRESS, ADCODE, 
    CADCODE, PADCODE, LNG_LAT, FRAME_STRU, ICON, CREATOR, CONVERT ( VARCHAR ( 100 ), CREATE_TIME, 20 ) AS CREATE_TIME, 
    UPDATER, CONVERT ( VARCHAR ( 100 ), UPDATE_TIME, 20 ) AS UPDATE_TIME
  </sql>
    <select id="selectLngLat" resultMap="BaseResultMap">
    select 
    LNG_LAT,EQUIPMENT_ID, EQUIPMENT_NAME
    from hq_equipment_info
  </select>
  <select id="selectAllByParam" resultMap="BaseResultMap">
    select 
    EQUIPMENT_ID, EQUIPMENT_NAME
    from hq_equipment_info
    where 1=1 
    <if test="_parameter!= null">
     AND TYPE = #{type,jdbcType=VARCHAR}
    </if>
    <if test="_parameter!= null">
     AND USER_NAME = #{userName}
    </if> 
    <if test="_parameter.length() == 2">
     and  PADCODE = #{_parameter}
    </if> 
    <if test="_parameter.length() == 4">
     and  CADCODE = #{_parameter}
    </if>
    <if test="_parameter.length() == 6">
     and  ADCODE = #{_parameter}
    </if> 
  </select>
  <select id="selectAllEquipmentByUser" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
    where 1=1 
     AND USER_NAME = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="selectAllByType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
    where 1=1 
     AND TYPE = #{type,jdbcType=VARCHAR}
  </select>
  <select id="selectAllEquipmentByAddress"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
    where 1=1
    <if test="_parameter.length() == 2">
     and  PADCODE = #{_parameter,jdbcType=VARCHAR}
    </if> 
    <if test="_parameter.length() == 4">
     and  CADCODE = #{_parameter,jdbcType=VARCHAR}
    </if>
    <if test="_parameter.length() == 6">
     and  ADCODE = #{_parameter,jdbcType=VARCHAR}
    </if> 
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
  </select>
  <select id="selectEquipmentByGroup" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
    where GROUP = #{group,jdbcType=VARCHAR}
  </select>
  <select id="selectByEquipmentName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
    where EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
    where EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hq_equipment_info
    where EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hqgd.pms.domain.EquipmentInfo">
    insert into hq_equipment_info (EQUIPMENT_ID, EQUIPMENT_NAME,TYPE, 
      USER_NAME, USER_ID, CHANNEL_TEM, 
      ADDRESS, ADCODE, CADCODE, 
      PADCODE, LNG_LAT, FRAME_STRU, 
      ICON, CREATOR, CREATE_TIME, 
      UPDATER, UPDATE_TIME)
    values (#{equipmentId,jdbcType=VARCHAR}, #{equipmentName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{channelTem,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{adcode,jdbcType=VARCHAR}, #{cadcode,jdbcType=VARCHAR}, 
      #{padcode,jdbcType=VARCHAR}, #{lngLat,jdbcType=VARCHAR}, #{frameStru,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hqgd.pms.domain.EquipmentInfo">
    insert into hq_equipment_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        EQUIPMENT_ID,
      </if>
      <if test="equipmentName != null">
        EQUIPMENT_NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="channelTem != null">
        CHANNEL_TEM,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="adcode != null">
        ADCODE,
      </if>
      <if test="cadcode != null">
        CADCODE,
      </if>
      <if test="padcode != null">
        PADCODE,
      </if>
      <if test="lngLat != null">
        LNG_LAT,
      </if>
      <if test="frameStru != null">
        FRAME_STRU,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentName != null">
        #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="channelTem != null">
        #{channelTem,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="adcode != null">
        #{adcode,jdbcType=VARCHAR},
      </if>
      <if test="cadcode != null">
        #{cadcode,jdbcType=VARCHAR},
      </if>
      <if test="padcode != null">
        #{padcode,jdbcType=VARCHAR},
      </if>
      <if test="lngLat != null">
        #{lngLat,jdbcType=VARCHAR},
      </if>
      <if test="frameStru != null">
        #{frameStru,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqgd.pms.domain.EquipmentInfo">
    update hq_equipment_info
    <set>
      <if test="equipmentName != null">
        EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="channelTem != null">
        CHANNEL_TEM = #{channelTem,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="adcode != null">
        ADCODE = #{adcode,jdbcType=VARCHAR},
      </if>
      <if test="cadcode != null">
        CADCODE = #{cadcode,jdbcType=VARCHAR},
      </if>
      <if test="padcode != null">
        PADCODE = #{padcode,jdbcType=VARCHAR},
      </if>
      <if test="lngLat != null">
        LNG_LAT = #{lngLat,jdbcType=VARCHAR},
      </if>
      <if test="frameStru != null">
        FRAME_STRU = #{frameStru,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqgd.pms.domain.EquipmentInfo">
    update hq_equipment_info
    set 
      EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      CHANNEL_TEM = #{channelTem,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ADCODE = #{adcode,jdbcType=VARCHAR},
      CADCODE = #{cadcode,jdbcType=VARCHAR},
      PADCODE = #{padcode,jdbcType=VARCHAR},
      LNG_LAT = #{lngLat,jdbcType=VARCHAR},
      FRAME_STRU = #{frameStru,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
  </update>
</mapper>