<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqgd.pms.dao.equipment.EquipmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.hqgd.pms.domain.EquipmentInfo">
    <id column="EQUIPMENT_ID" jdbcType="VARCHAR" property="equipmentId" />
    <result column="EQUIPMENT_NAME" jdbcType="VARCHAR" property="equipmentName" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="REGION" jdbcType="VARCHAR" property="region" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    EQUIPMENT_ID, EQUIPMENT_NAME, USER_NAME, USER_ID, ICON, REGION, CREATOR, CREATE_TIME, 
    UPDATER, UPDATE_TIME
  </sql>
  
  <select id="selectTotalChNum" resultType="java.lang.Integer" >
	SELECT 
  		COUNT(EQUIPMENT_ID) 
	FROM
  		hq_equipment_param
  </select>
  <select id="selectEquipCh" resultType="java.lang.Integer" >
	SELECT 
  		COUNT(EQUIPMENT_ID) 
	FROM
  		hq_equipment_param
  	WHERE EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
  </select>
  <select id="selectAllEquipment" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
    where 1=1 
     AND USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectEquipmentByGroup" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
    where GROUP = #{group,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_equipment_info
    where EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hq_equipment_info
    where EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hqgd.pms.domain.EquipmentInfo">
    insert into hq_equipment_info (EQUIPMENT_ID, EQUIPMENT_NAME, USER_NAME, 
      USER_ID, ICON, REGION, 
      CREATOR, CREATE_TIME, UPDATER, 
      UPDATE_TIME)
    values (#{equipmentId,jdbcType=VARCHAR}, #{equipmentName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hqgd.pms.domain.EquipmentInfo">
    insert into hq_equipment_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        EQUIPMENT_ID,
      </if>
      <if test="equipmentName != null">
        EQUIPMENT_NAME,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="region != null">
        REGION,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentName != null">
        #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqgd.pms.domain.EquipmentInfo">
    update hq_equipment_info
    <set>
      <if test="equipmentName != null">
        EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        REGION = #{region,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqgd.pms.domain.EquipmentInfo">
    update hq_equipment_info
    set EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      REGION = #{region,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR}
  </update>
</mapper>