<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqgd.pms.dao.dataAcquisition.StaticFailuresMapper">
  <resultMap id="BaseResultMap" type="com.hqgd.pms.domain.StaticFailures">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="EQUIPMENT_ID" jdbcType="VARCHAR" property="equipmentId" />
    <result column="EQUIPMENT_NAME" jdbcType="VARCHAR" property="equipmentName" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CHANNEL_NUM" jdbcType="VARCHAR" property="channelNum" />
    <result column="OPTICAL_FIBER_POSITION" jdbcType="VARCHAR" property="opticalFiberPosition" />
    <result column="COMMUNICATE" jdbcType="INTEGER" property="communicate" />
    <result column="FIBER" jdbcType="INTEGER" property="fiber" />
    <result column="THERMOMETER" jdbcType="INTEGER" property="thermometer" />
    <result column="OVER_TEMPERATURE" jdbcType="INTEGER" property="overTemperature" />
    <result column="DATE" jdbcType="DATE" property="date" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, EQUIPMENT_ID, EQUIPMENT_NAME, ADDRESS, CHANNEL_NUM, OPTICAL_FIBER_POSITION, COMMUNICATE, 
    FIBER, THERMOMETER, OVER_TEMPERATURE, DATE
  </sql>
  <select id="errorStateStatic" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
	CHANNEL_NUM,
	SUM( COMMUNICATE ) AS COMMUNICATE,
	SUM( FIBER ) AS FIBER,
	SUM( THERMOMETER ) AS THERMOMETER,
	SUM( OVER_TEMPERATURE ) AS OVER_TEMPERATURE 
    FROM
	hq_static_failures 
	WHERE
	EQUIPMENT_ID = #{equipmentId,jdbcType=INTEGER} 
	AND DATE <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
	AND DATE <![CDATA[ < ]]> #{endTime,jdbcType=VARCHAR}
	GROUP BY
	CHANNEL_NUM
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hq_static_failures
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hq_static_failures
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hqgd.pms.domain.StaticFailures">
    insert into hq_static_failures (EQUIPMENT_ID, EQUIPMENT_NAME, 
      ADDRESS, CHANNEL_NUM, OPTICAL_FIBER_POSITION, 
      COMMUNICATE, FIBER, THERMOMETER, 
      OVER_TEMPERATURE, DATE)
    values ( #{equipmentId,jdbcType=VARCHAR}, #{equipmentName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{channelNum,jdbcType=VARCHAR}, #{opticalFiberPosition,jdbcType=VARCHAR}, 
      #{communicate,jdbcType=INTEGER}, #{fiber,jdbcType=INTEGER}, #{thermometer,jdbcType=INTEGER}, 
      #{overTemperature,jdbcType=INTEGER}, #{date,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.hqgd.pms.domain.StaticFailures">
    insert into hq_static_failures
    <trim prefix="(" suffix=")" suffixOverrides=",">
      
      <if test="equipmentId != null">
        EQUIPMENT_ID,
      </if>
      <if test="equipmentName != null">
        EQUIPMENT_NAME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="channelNum != null">
        CHANNEL_NUM,
      </if>
      <if test="opticalFiberPosition != null">
        OPTICAL_FIBER_POSITION,
      </if>
      <if test="communicate != null">
        COMMUNICATE,
      </if>
      <if test="fiber != null">
        FIBER,
      </if>
      <if test="thermometer != null">
        THERMOMETER,
      </if>
      <if test="overTemperature != null">
        OVER_TEMPERATURE,
      </if>
      <if test="date != null">
        DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentName != null">
        #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="channelNum != null">
        #{channelNum,jdbcType=VARCHAR},
      </if>
      <if test="opticalFiberPosition != null">
        #{opticalFiberPosition,jdbcType=VARCHAR},
      </if>
      <if test="communicate != null">
        #{communicate,jdbcType=INTEGER},
      </if>
      <if test="fiber != null">
        #{fiber,jdbcType=INTEGER},
      </if>
      <if test="thermometer != null">
        #{thermometer,jdbcType=INTEGER},
      </if>
      <if test="overTemperature != null">
        #{overTemperature,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqgd.pms.domain.StaticFailures">
    update hq_static_failures
    <set>
      <if test="equipmentId != null">
        EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentName != null">
        EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="channelNum != null">
        CHANNEL_NUM = #{channelNum,jdbcType=VARCHAR},
      </if>
      <if test="opticalFiberPosition != null">
        OPTICAL_FIBER_POSITION = #{opticalFiberPosition,jdbcType=VARCHAR},
      </if>
      <if test="communicate != null">
        COMMUNICATE = #{communicate,jdbcType=INTEGER},
      </if>
      <if test="fiber != null">
        FIBER = #{fiber,jdbcType=INTEGER},
      </if>
      <if test="thermometer != null">
        THERMOMETER = #{thermometer,jdbcType=INTEGER},
      </if>
      <if test="overTemperature != null">
        OVER_TEMPERATURE = #{overTemperature,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        DATE = #{date,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqgd.pms.domain.StaticFailures">
    update hq_static_failures
    set EQUIPMENT_ID = #{equipmentId,jdbcType=VARCHAR},
      EQUIPMENT_NAME = #{equipmentName,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CHANNEL_NUM = #{channelNum,jdbcType=VARCHAR},
      OPTICAL_FIBER_POSITION = #{opticalFiberPosition,jdbcType=VARCHAR},
      COMMUNICATE = #{communicate,jdbcType=INTEGER},
      FIBER = #{fiber,jdbcType=INTEGER},
      THERMOMETER = #{thermometer,jdbcType=INTEGER},
      OVER_TEMPERATURE = #{overTemperature,jdbcType=INTEGER},
      DATE = #{date,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>