<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <!--禁用兼容模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <title>新农合缴费管理后台</title>
    <link rel="stylesheet" href="/css/login.css"/>
    <style>
    	.updatePasswordTitle {
    		color: red;
    	}
    	.linkGo {
    		display: block;
    		text-align: right;
    	}
    </style>
</head>
<body>
<div id="body">
    <section>
        <div id="content">
            <ul class="input_box">
            	<a class="linkGo" href="./login">>返回到登录页</a>
                <h1>新农合缴费管理后台-<em class="updatePasswordTitle">修改密码</em></h1>
                <li class="account">
                    <input id="username" name="username" type="text" placeholder="请输入您的用户名" class="full_input"/>
                </li>
                <li class="password">
                    <input id="password" name="password" type="password" placeholder="请输入您的旧密码" class="full_input"/>
                </li>
                <li class="password">
                    <input id="newPassword" name="newPassword" type="password" placeholder="请输入您的新密码" class="full_input"/>
                </li>
                <li class="password">
                    <input id="newPassword2" name="newPassword2" type="password" placeholder="请再次输入您的新密码" class="full_input"/>
                </li>
                <button id="updatePasswordBtn">修改密码</button>
            </ul>

        </div>
    </section>
</div>
<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    document.getElementsByTagName('body')[0].style.height = document.documentElement.clientHeight + "px";
    $('#updatePasswordBtn').click(function() {
    	var username = $('#username').val();
    	var password = $('#password').val();
    	var newPasswordVal = $('#newPassword').val();
    	var newPassword2Val = $('#newPassword2').val();
    	
    	var inputData = {
   			"username": username,
  			"password": password,
   			"newPassword": newPasswordVal,
    	}
    	
    	if (!username || !password || !newPasswordVal || !newPassword2Val) {
    		alert("必填项不能为空");
    		return;
    	}
    	
    	if (newPasswordVal !== newPassword2Val) {
    		alert("新密码两次输入不一样，请重新输入");
    		return;
    	}
    	
    	if (newPasswordVal === password) {
    		alert("新密码必须与旧密码不同！");
    		return;
    	}
    	
    	if (newPasswordVal.length > 50) {
    		alert("密码不能超过50位！");
    		return;
    	}
    	
    	$.ajax({
       		type: "POST",
       		url: "updatePassword",
       		data: inputData,
       		success: function(data) {
       			if (data.result) {
       				alert("修改密码成功！");
       				window.location.href = "login";
       			} else {
       				alert(data.message);
       			}
       		}
    	});
    });
</script>
</body>
</html>